@font-face {
    font-family: Lacquer;
    src: url(Fonts/Lacquer.ttf);
}

body {
    font-family: sans-serif;
    background-color: #FBEAEB;
    margin: 0;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
    width: 140px;
    margin: 20px;
    background-color: #4254aa;
    border: 2px solid #DCDCDC;
    transition: all 0.2s;
    border-radius: 10%;
}

button:hover {
    transform: scale(1.1);
    border: 3px #C0C0C0;
    border-style: solid;
}

img {
    width: 100px;
    height: 100px;
}

.text {
    text-align: center;
    color: #333333;
    font-size: 40px;
    font-family: Lacquer , 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.secondPage {
    display: none;
}

.scoreWindow {
    margin-top: 30px;
    font-family: Lacquer;
    font-weight: bold;
    text-align: center;
    color: #333333;
    font-size: 40px;
}

.contestants {
    display: flex;
    justify-content: center;
}

.player {
    margin-right: 180px;
}

.scores {
    display: flex;
    justify-content: center;
}

.playerScore {
    margin-right: 250px;
}

.startGameButton {
    width: 200px;
    height: 70px;
    border-radius: 0;
    font-size: 30px;
    font-family: Lacquer;
    background-color: #cdcbcb;
}

.startGame {
    display: flex;
    justify-content: center;
    align-items: center;
}
